# Latest version of plotly can be found at https://github.com/plotly/plotly.py/releases .
# Version is hardcoded to ensure uniformity no matter the platform.
plotly==5.24.1
pandas==2.2.3
dash~=2.18
pytest==8.3.4
pylint==3.3.4
black==24.10.0
black[jupyter]
pyodbc==5.2.0
numpy==2.2.2
gov-uk-dashboards~=13.0.0
uk-gov-dash-components~=1.29.2
dash[testing]
chromedriver-autoinstaller
playwright
pytest-playwright
pixelmatch
pillow~=11.1
snakeviz