# Latest version of plotly can be found at https://github.com/plotly/plotly.py/releases .
# Version is hardcoded to ensure uniformity no matter the platform.
plotly==5.20.0
pandas==2.2.2
dash~=2.16
pytest==8.1.1
pylint==3.1.0
black==24.4.0
black[jupyter]
pyodbc==5.1.0
numpy==1.26.4
gov-uk-dashboards~=9.30.1
uk-gov-dash-components~=1.25.0
dash[testing]
chromedriver-autoinstaller
playwright
pytest-playwright
pixelmatch
pillow~=10.3
snakeviz